body{
    background-color: rgb(220, 251, 255);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
}

header,footer{
    background-color: #5d57b9;
    padding: 0;
    text-align: center;
    padding-top: 20px;
    height: 100px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    color: white;
}

nav{
    background-color: rgb(139, 200, 250);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius:0px 0px 10px 10px ;
}

nav li{
    text-decoration: none;
}

.lien{
   text-decoration: none;
   color: black;
   margin: 130px;
}

.hero{
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;    
    width: 60%;
    margin-left: 20%;
    margin-bottom: 20px;
    padding: 30px;
}

.hero aside h2{
    text-align: center;
}

.hero aside,div{
    display: inline-block;
    width: 40%;
}

.hero aside p{
    margin-left: 20%;
    width: 100%;
}

.hero div img{
    border-radius: 50%;
    width: 100%;
}

.section,.sect{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.appropos{
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;    
    width: 30%;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 30px;
}

.appropos img{
    width: 100%;
}

form{
    display: grid;
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 25%;
    background-color: white;
    border-radius: 15px;
}

label{
    padding: 1.5rem;
    width: 50%;
    margin-left: 20px;
}
input, textarea{
    padding: 1.5rem;
    border: 1px solid black;
    border-radius: 15px;
    width: 50%;
    margin-left: 10%;
    background-color: rgb(220, 251, 255);
}


button{
    background-color: rgb(220, 251, 255);
    padding: 1rem;
    border-radius: 15px;
    width: 50%;
    margin-left: 18%;
    margin-top: 10px;
}

footer a{
    color:white;
    text-decoration: none;
}